@import "tailwindcss";
@config "../../tailwind.config.js";
@plugin "tailwindcss-animate";
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        background: #000;
        font-family: "Bricolage Grotesque", sans-serif;
    }

    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Bricolage Grotesque", sans-serif;
        font-weight: 800;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
