@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        background: #000;
        font-family: "Jost", sans-serif;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Red Hat Display", sans-serif;
        font-weight: 900; /* Extra bold for headers */
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
