<div id="navbar" class="bg-black/20 fixed top-0 w-screen z-100 p-4 backdrop-blur-lg">
	<div id="navcontainer" class="flex justify-between">
        <div id="navleft"><a href="/"><img src="/PWRUP_text.svg" alt="PWRUP" class="h-4" /></a></div>
        <div id="navright" class="flex space-x-6">
            <a href="/blog" class="text-white">Blog</a>
            <a href="/blog" class="text-white">Socials</a>
        </div>
    </div>
</div>
