---
import NavBar from '../components/NavBar.astro';
---

<div id="container" class="bg-black min-h-screen">
	<main>
		<NavBar />
		<div id="content" class="p-4">
			<div id="headerslide" class="flex justify-center h-screen items-center">
				<h1 class="text-white text-8xl">We are Pinewood Robotics</h1>
			</div>

			<!-- Additional sections to test smooth scrolling -->
			<div class="h-screen flex justify-center items-center">
				<h2 class="text-white text-6xl">About Us</h2>
			</div>

			<div class="h-screen flex justify-center items-center">
				<h2 class="text-white text-6xl">Our Projects</h2>
			</div>

			<div class="h-screen flex justify-center items-center">
				<h2 class="text-white text-6xl">Contact</h2>
			</div>
		</div>
	</main>

</div>
